@import "tailwindcss";
@theme {
  --color-main-yellow: var(--color-yellow-400);
  --color-main-dark: #3d3d3d;

  --animate-gradient: gradient-move 4s ease infinite;

  @keyframes gradient-move {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
